
#banner{
    width: 100%;
}
.principal{
    background: #cccccc;
    padding: 20px;
}
.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
    
}

#missao {
    text-align: center;
}

em strong{
    color: #FF0000;
}

.item {
    font-style: italic;
}
.beneficios{
    background: white;
    padding: 20px;
}

.imagembeneficios {
    width: 50%;
}

ul {
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}